/* Global Styles */
body,
html{
    background-color: #eeeeee;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

a,a:hover, a:focus{
    color: black;
    font-size: 12px;
}

p{
    font-size: 12px;
}

h5{
    font-weight: 700;
}

h6{
    font-size: 10px;
}

hr.hr-1{
    border-top: 5px solid 	#fe7200;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr.hr-3{
    border-top: 1px solid gainsboro;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Main Nav Styles */
.main-nav-accent{
    height: 3px;
    background-color: 	#fe7200;
}

.main-nav{
    height: 80px;
    padding: 15px 10%;
    background-color: white;
    position: relative;
}

.badge{
    background-color: #fe7200;
}

.dropdown-nav{
    position: absolute;
    right: 100px;
    top: 25px;
}

/* Sub Nav Styles */
.sub-nav-section{
    margin-bottom: 20px;
    position: relative;
}

.sub-nav{
    width: 100%;
    height: 50px;
    padding-left: 10%;
    padding-right: 10%;

    background-color: white;
    opacity: 70%;

    position: absolute;
    top: 0;
}

.search-input{
    position: absolute;
    text-align: center;
    width: 500px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search{
    position: relative;
}

.search-icon{
    position: absolute;
    right: 10px;
    top: 10px;
}

.bold-title{
    font-weight: 800;
}


/* Main Content Wrapper Styles */
.wrapper{
    margin: 0 auto;
    width: 80%;
}

/* Action Button Styles */
.action-buttons-section{
    background-color: white;
    border-radius: 5px;

    padding: 20px;
    margin-bottom: 20px;
}

.action-button{
    border: 1px solid gainsboro;
    background-color: white;

    width: 100%;
    height: 120px;
    
    text-align: left;
    padding: 10px 20px;
}

.action-buttons-section h5 h6{
    margin-bottom: 0;
}

/* Latest News Styles */
.latest-news-section{
    border-radius: 5px;
    background-color: white;

    margin-bottom: 20px;
    padding: 5px;
}

.accent-hyperlink,
.accent-hyperlink:hover{
    font-size: 10px;
    color: 	#fe7200;
}


/* IT Ticket Section Styles */
.tickets-section{
    margin-bottom: 20px;
}

/* Help Section Styles */
.help-section{
    margin-bottom: 20px;
}

@media screen and (max-width: 992px){
    /* Sub Nav Styles */
    .search-input{
        transform: translate(-50%, -60%);
        width: 70%;
    }
}

@media screen and (max-width: 660px){

    /* Main Nav Styles */
    .dropdown-nav{
        right: 10%;
    }

    /* Sub Nav Styles */
    .search-input h1{
        font-size: 18px;
    }
}